---
---

@import "minima";
@import "minima/syntax-highlighting";

.home {
  display: flex;
  align-items: center;
  flex-direction: column;

  .post {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.header {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),
    url(https://images.unsplash.com/photo-1512567100135-223e140cd167?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8da2d287529b3ca7bd2dd0c9ba462db0&auto=format&fit=crop&w=2250&q=80);
  margin-bottom: 4rem;

  .title {
    font-size: 4rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .description {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .social-link {
    font-size: 3rem;
    color: #fff;
    margin-right: 1rem;
  }
}

.content {
  max-width: 50rem;
  width: 100vw;
  word-wrap: break-word;
  padding: 1rem;
}


.post-list-heading {
  text-align: center;
}

.post-content {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-left: 2px solid #999;
  margin-bottom: 0;
  flex: 1;
}

.post-heading {
  margin-bottom: 0.5rem;
}

.post-date {
  margin-right: 2rem;
}

.post-link {
  color: orange;
}

.post-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;

  .header {
    color: #fff;
    background-color: #555;
    background-blend-mode: multiply;
    margin-bottom: 1rem;

    .home {
      width: 100vw;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      font-size: 1.4rem;

      .link {
        margin: 2rem;
        color: #fff;
      }
    }

    .title {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .info {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .date-published {
        font-size: 1rem;
        margin-right: 2rem;
        margin-bottom: 0.5rem;
      }

      .author {
        font-size: 1.4rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
      }
    }
  }

  .title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .content {
    padding: 0;

    p, h1, h2, h3, h4 {
      padding: 0 1rem;
    }

    div.highlight {
      padding: 1.1rem;
    }

    pre.highlight {
      padding: 0;
      margin: 0;
    }
  }
}
