---
---

@import "minima";
@import "minima/syntax-highlighting";

a, a:visited {
  color: #111;
  text-decoration: underline;
}

.header {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  background-color: #555;
  background-blend-mode: multiply;
  margin-bottom: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .title {
    font-size: 4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
  }

  .description {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    padding: 1rem;
  }

  .social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .social-link {
    font-size: 3rem;
    color: #fff;
    margin-right: 1rem;
  }
}

.home {
  .header {
    background-image: url(https://images.unsplash.com/photo-1512567100135-223e140cd167?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8da2d287529b3ca7bd2dd0c9ba462db0&auto=format&fit=crop&w=2250&q=80);
  }

  .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;

    .navigation-link {
      font-size: 2rem;
      padding: 0 1.5rem 0 1.5rem;
      text-decoration: none;
    }

    .navigation-link-active {
      text-decoration: underline;
      text-decoration-color: green;
    }
  }
}

.post-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;

  .header {
    margin-bottom: 2rem;

    .home {
      width: 100vw;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      font-size: 1.4rem;

      .link {
        margin: 2rem;
        color: #fff;
      }
    }

    .title {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 50rem;
    }

    .info {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .date-published {
        font-size: 1rem;
        margin-right: 2rem;
        margin-bottom: 0.5rem;
      }

      .author {
        font-size: 1.4rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
      }
    }
  }

  .title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .content {
    width: 100vw;
    word-wrap: break-word;
    max-width: 50rem;
    margin-bottom: 3rem;

    div.highlight {
      padding: 1.1rem;
    }

    pre.highlight {
      border: none;
      padding: 0;
      margin: 0;
    }

    img {
      display: block;
      margin: auto;
    }
  }

  #disqus_thread {
    width: 90vw;
    max-width: 50rem;
  }
}

// mobile
@media all and (max-width: 800px) {
  .home {
    font-size: 1rem;

    .header {
      margin-bottom: 2rem;
    }

    .posts {
      margin: 0 20px 0 20px;

      .post {
        .post-date {
          color: #888;
        }

        .post-image {
          padding-bottom: 1rem;
        }

        .post-title {
          padding-bottom: 1rem;
          margin: 0;

          .post-link {
            font-size: 1.8rem;
            text-decoration: none;
          }
        }

        .post-description {
          margin-bottom: 1rem;

          p {
            margin: 0;
          }
        }

        .post-read-more-container {
          padding-bottom: 3rem;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
        }

        .post-read-more {
          border: 1px solid green;
          border-radius: 0.5rem;
          padding: 0.5rem 1rem;
          color: green;
          border-color: green;
          text-decoration: none;
        }
      }
    }
  }

  .post-page {
    .content {
      p {
        font-size: 17px;
        line-height: 28px;
        padding: 0;
        margin: 21px 20px 0 20px;
      }

      div.highlighter-rouge {
        padding: 0;
        margin: 21px  0 0;
      }

      code {
        font-size: 16px;
      }

      h1 {
        font-size: 30px;
        line-height: 34px;
        padding: 0;
        margin: 28px 20px 0 20px;
      }

      h2 {
        font-size: 24px;
        line-height: 29px;
        padding: 0;
        margin: 31px 20px 0 20px;
      }

      h1 + p, h2 + p {
        margin: 8px 20px 0 20px;
      }

      ul, ol {
        margin: 21px 20px 0 20px;
        font-size: 17px;
      }

      li {
        margin: 0 0 14px 30px;
      }
    }
  }
}

// desktop
@media all and (min-width: 801px) {
  .home {
    font-size: 1rem;

    .posts {
      max-width: 70rem;
      margin: 0 auto 0 auto;

      .post {
        display: grid;
        grid-template-columns: 15rem auto 15rem;
        grid-template-rows: auto;
        grid-template-areas:
          "line1 image ."
          "date title ."
          "line2 description ."
          "line2 more .";
        margin: 0 auto 0 auto;

        .post-date {
          grid-area: date;
          text-align: right;
          padding-right: 3rem;
          margin-right: 3rem;
          border-right: 1px solid green;

          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          padding-bottom: 1rem;
        }

        .post-line1 {
          grid-area: line1;
          margin-right: 3rem;
          border-right: 1px solid green;
        }

        .post-line2 {
          grid-area: line2;
          margin-right: 3rem;
          border-right: 1px solid green;
        }

        .post-image {
          grid-area: image;
          padding-bottom: 1rem;
        }

        .post-title {
          grid-area: title;
          padding-bottom: 1rem;
          margin: 0;

          .post-link {
            font-size: 1.8rem;
            text-decoration: none;
          }
        }

        .post-description {
          grid-area: description;
          margin-bottom: 1rem;

          p {
            margin: 0;
          }
        }

        .post-read-more-container {
          grid-area: more;
          padding-bottom: 4rem;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
        }

        .post-read-more {
          border: 1px solid green;
          border-radius: 0.5rem;
          padding: 0.5rem 1rem;
          color: green;
          border-color: green;
          text-decoration: none;
        }

      }
    }
  }

  .post-page {
    .content {
      p {
        font-size: 20px;
        line-height: 33px;
        padding: 0;
        margin: 28px 0 0 0;
      }

      div.highlighter-rouge {
        padding: 0;
        margin: 28px 0 0 0;
      }

      code {
        font-size: 18px;
      }

      h1 {
        font-size: 34px;
        line-height: 39px;
        padding: 0;
        margin: 56px 0 0 0;
      }

      h2 {
        font-size: 26px;
        line-height: 32px;
        padding: 0;
        margin: 39px 0 0 0;
      }

      h1 + p, h2 + p {
        margin: 8px 0 0 0;
      }

      ul, ol {
        margin: 29px 0 0 0;
        font-size: 20px;
      }

      li {
        margin: 0 0 14px 30px;
      }
    }
  }
}
