---
---

@import "minima";
@import "minima/syntax-highlighting";

.header {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  background-color: #555;
  background-blend-mode: multiply;
  margin-bottom: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .title {
    font-size: 4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
  }

  .description {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    padding: 1rem;
  }

  .social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .social-link {
    font-size: 3rem;
    color: #fff;
    margin-right: 1rem;
  }
}

.home {
  display: flex;
  align-items: center;
  flex-direction: column;

  .header {
    background-image: url(https://images.unsplash.com/photo-1512567100135-223e140cd167?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8da2d287529b3ca7bd2dd0c9ba462db0&auto=format&fit=crop&w=2250&q=80);
  }

  .content {
    width: 100vw;
    word-wrap: break-word;
  }

  .post {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;

    .post-image {
      width: 100%;
    }
  }

  .post-list-heading {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .post-list {
    margin: 0;
  }

  .post-content {
    max-width: 45rem;
    flex: 1;
    margin-bottom: 0;
  }

  .post-heading {
    margin-bottom: 1rem;

    .post-link {
      font-size: 2.1rem;
      line-height: 1.3;
    }
  }

  .post-link {
    color: #000;
  }

  .post-read-more-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .post-read-more {
    border: 1px solid green;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: green;
    border-color: green;
  }


  // .post-date {
  //   margin-right: 3rem;
  // }
}

.post-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;

  .header {
    margin-bottom: 2rem;

    .home {
      width: 100vw;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      font-size: 1.4rem;

      .link {
        margin: 2rem;
        color: #fff;
      }
    }

    .title {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 50rem;
    }

    .info {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .date-published {
        font-size: 1rem;
        margin-right: 2rem;
        margin-bottom: 0.5rem;
      }

      .author {
        font-size: 1.4rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
      }
    }
  }

  .title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .content {
    max-width: 65rem;
    width: 100vw;
    word-wrap: break-word;
    max-width: 50rem;

    p, h1, h2, h3, h4 {
      padding: 0 1rem;
    }

    div.highlight {
      padding: 1.1rem;
    }

    pre.highlight {
      border: none;
      padding: 0;
      margin: 0;
    }
  }
}

@media all and (max-width: 800px) {
  .home {
    .post-date-mobile {
      padding-bottom: 0.5rem;
    }

    .post-date-desktop {
      display: none;
    }

    .post-content {
      padding: 2rem;
    }
  }
}


@media all and (min-width: 801px) {
  .home {
    // .post {
      // align-items: stretch;
      // justify-content: stretch;
      // align-content: stretch;
      // align-self: stretch;
    // }

    .post-content {
      flex: 100;
      border-left: 1px solid green;
      padding: 4rem 4rem 1rem 4rem;
    }

    article:first-of-type > .post-content {
      border-top: 1px solid green;
      border-top-left-radius: 2rem;
    }

    article:first-of-type > .post-date-desktop-hidden {
      border-top: 1px solid green;
    }

    .post-date-mobile{
      display: none;
    }

    .post-date-desktop {
      flex: 1;
      margin: 0;
      padding-right: 3rem;
    }

    .post-date-desktop-hidden > * {
      visibility: hidden;
    }

    .post-date-desktop-shown {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
    }
  }
}
