---
layout: default
---

<link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">


<main class="home">
  <header class="header">
    <h1 class="title">{{ site.title | escape }}</h1>
    <p class="description">Nikita Kholin's laboratory for web development and data science</p>
    <ul class="social-links">
      <div class="social-links-group">
        <a target="_blank" href="https://github.com/hmlON"><i class="social-link fab fa-github"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/nikita-kholin/"><i class="social-link fab fa-linkedin"></i></a>
        <a target="_blank" href="https://www.facebook.com/hmlon0"><i class="social-link fab fa-facebook"></i></a>
      </div>
      <div class="social-links-group">
        <a target="_blank" href="https://twitter.com/hmlON_"><i class="social-link fab fa-twitter"></i></a>
        <a target="_blank" href="https://medium.com/@hmlon"><i class="social-link fab fa-medium"></i></a>
        <a target="_blank" href="https://dev.to/hmlon"><i class="social-link fab fa-dev"></i></a>
      </div>
    </ul>
  </header>

  <section class="posts content">
    {%- if site.posts.size > 0 -%}
      <h2 class="post-list-heading">Posts</h2>

      <ul class="post-list">
        {%- for post in site.posts -%}
          <article class="post">

            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-date">{{ post.date | date: date_format }}</span>

            <div class="post-content">
              <img src="{{ post.cover_image }}" alt="" class="post-image">

              <h4 class="post-heading">
                <a class="post-link" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h4>

              {%- if site.show_excerpts -%}
                {{ post.excerpt }}
              {%- endif -%}
            </div>


          </article>
        {%- endfor -%}
      </ul>

    {%- endif -%}
  </section>
</main>
