---
layout: default
---

<link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">


<main class="home">
  <header class="header">
    <h1 class="title">{{ site.title | escape }}</h1>
    <p class="description">Nikita Kholin's laboratory for web development and data science</p>
    <ul class="social-links">
      <div class="social-links-group">
        <a target="_blank" href="https://www.instagram.com/hmlon_/"><i class="social-link fab fa-instagram"></i></a>
        <a target="_blank" href="https://twitter.com/hmlON_"><i class="social-link fab fa-twitter"></i></a>
        <a target="_blank" href="https://www.facebook.com/hmlon0"><i class="social-link fab fa-facebook"></i></a>
      </div>
      <div class="social-links-group">
        <a target="_blank" href="https://github.com/hmlON"><i class="social-link fab fa-github"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/nikita-kholin/"><i class="social-link fab fa-linkedin"></i></a>
        <a target="_blank" href="https://medium.com/@hmlon"><i class="social-link fab fa-medium"></i></a>
        <a target="_blank" href="https://dev.to/hmlon"><i class="social-link fab fa-dev"></i></a>
      </div>
    </ul>
  </header>

  <nav class="navigation">
    <a href="#posts" class="navigation-link navigation-link-active">Posts</a>
    <a href="/about-me" class="navigation-link">About me</a>
  </nav>

  <section class="posts content" id="posts">
    {%- if site.posts.size > 0 -%}
      {%- for post in site.posts -%}
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

        <article class="post">
          <a href="{{ post.url | relative_url }}">
            <img src="{{ post.cover_image }}" alt="" class="post-image">
          </a>

          <h4 class="post-title">
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h4>
          <div class="post-date">{{ post.date | date: date_format }}</div>

          {%- if site.show_excerpts -%}
            <div class="post-description">{{ post.excerpt }}</div>
          {%- endif -%}

          <div class="post-read-more-container">
            <a class="post-read-more" href="{{ post.url | relative_url }}">Read more...</a>
          </div>

          <div class="post-line1"></div>
          <div class="post-line2"></div>
        </article>
      {%- endfor -%}
    {%- endif -%}
  </section>
</main>
